.custom-button {
  border: none;
  background-color: transparent;
  outline: none;

  position: relative;

  cursor: pointer;

  text-align: center;

  min-height: 36px;
  min-width: 95px;
  padding: 0 16px 0 16px;

  background-color: var(--bg-color-button);
}

.btn--loader {
  align-self: center;
}

.btn--icon {
  width: 18px;
  height: 18px;
}

.btn:disabled {
  opacity: .3;
  cursor: not-allowed;
}