:root {
  --primary-color: #ffb917;
  --secondary-color: #838383;
  --text-color-main: #363636;
  --bg-color-button: #f5f5f5;
  --button-border-color: #838383;

  --padding-xs: 13px;
  --padding-s: 23px;
  --padding-m: 33px;
  --padding-l: 43px;
  --padding-xl: 53px;

  --grid-height-rows: 1fr;
  --grid-wigth-columns: 1fr;

  --font-size-xs: 12px;
  --font-size-s: 13px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;

  --line-height-xs: 12px;
  --line-height-s: 13px;
  --line-height-m: 14px;
  --line-height-l: 16px;
  --line-height-xl: 18px;
  --line-height-xxl: 20px;
}
